{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/Scss/app.scss') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock %}


{% block javascripts %}

<script>
document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.comment-form').forEach(form => {
        form.addEventListener('submit', function(e) {
            e.preventDefault();

            const formData = new FormData(this);
            const publicationId = formData.get('publicationId');
            const content = formData.get('content');

            fetch('/api/commentaire', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ content: content, publicationId: publicationId })
            })
            .then(response => response.json())
            .then(data => {
                if(data.error) {
                    console.error(data.error);
                } else {
                window.location.reload();
                }
            })
            .catch(error => console.error('Erreur:', error));
        });
    });

document.querySelectorAll('.like-icon').forEach(button => {
    button.addEventListener('click', function(e) {
        const publicationId = this.dataset.publicationId;
        fetch(`/like/publication/${publicationId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ like: true }) // Assurez-vous que cela correspond à ce que votre backend attend
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                const likesCountElement = this.previousElementSibling;
                let likesCount = parseInt(likesCountElement.textContent);
                if (this.textContent === 'Like') {
                    likesCountElement.textContent = `${++likesCount} likes`;
                    this.textContent = 'Liked';
                } else {
                    likesCountElement.textContent = `${--likesCount} likes`;
                    this.textContent = 'Like';
                }
            } else {
                alert('Vous avez liké un post.');
            }
        })
        .catch(error => console.error('Erreur:', error));
    });
});
document.addEventListener('DOMContentLoaded', function() {
        const likeIcon = document.querySelector('.like-icon');
        
        likeIcon.addEventListener('click', function() {
            this.classList.toggle('active');
        });
    });
});
</script>
{% endblock %}
{% block body %}
<h2>Publications</h2>
<div class="publications">
    {% for publication in publications %}
        <div class="publication" id="publication-{{ publication.id }}">
            <div class="publication__header">
                <div class="publication__author">
                    <a href="{{ path('app_profil', {username: publication.userID.username}) }}">
                    <img src="{{ asset('uploads/' ~ publication.userID.profilePicture) }}" alt="Profil de {{ publication.userID.username |e }}" style="width: 40px;"></a>
                <p>{{ publication.userID.username |e }}</p>
                </div>
                <p>{{ publication.dateTime|date('Y-m-d H:i') }}</p>
            </div>
            <div class="publication__content">
                {% if publication.fileType == 'image' %}
                    <img src="{{ asset('uploads/' ~ publication.postContent) }}" alt="Publication">
                {% elseif publication.fileType == 'video' %}
                    <video controls src="{{ asset('uploads/' ~ publication.postContent) }}"></video>
                {% endif %}
            </div>
            <div class="publication__likes">
                <div class='large-font text-center top-20'>
                    <i class="fas fa-heart like-icon" data-publication-id="{{ publication.id }}"></i>
                </div>
                <p>{{ publication.likesCount }} likes</p>
            </div>
            <div class="publication__comments">
                {% for commentaire in publication.commentaires %}
                    <div class="comment">
                        <img src="{{ asset('uploads/' ~ commentaire.userID.profilePicture) }}" alt="Profil de {{ commentaire.userID.username |e }}">
                        <p><strong>{{ commentaire.userID.username |e }}</strong>: {{ commentaire.content |e }}</p>
                        <p class="comment__date">{{ commentaire.dateTime|date('Y-m-d H:i') }}</p>
                    </div>
                {% endfor %}
            </div>
            <form class="comment-form" id="comment-form-{{ publication.id }}" action="" method="post">
                <input type="text" name="content" placeholder="Ajoutez un commentaire..." required>
                <input type="hidden" name="publicationId" value="{{ publication.id }}">
                <button type="submit">Commenter</button>
            </form>
        </div>
    {% else %}
        <p>Cet utilisateur n'a pas encore publié de contenu.</p>
    {% endfor %}
</div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock %}