{% extends 'base.html.twig' %}

{% block title %}Hello UtilisateurController!{% endblock %}

{% block body %}
    <h2>Profil de l’utilisateur</h2>
    <p>Nom d'utilisateur: {{ utilisateur.username }}</p>
    <p>Bio: {{ utilisateur.Bio }}</p>
    <p>Email: {{ utilisateur.email }}</p>

        <img src="{{ asset('Img/' ~ utilisateur.ProfilePicture) }}" alt="Photo de profile">
        <img src="{{ asset('Img/' ~ utilisateur.ProfileCover) }}" alt="Photo de cover">


         <a href="{{ path('app_modify_profile') }}">Modifier le profil</a>



    {# Afficher d'autres informations de l'utilisateur comme vous le souhaitez #}
{% endblock %}
