{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/build/app.css') }}">
{% endblock %}

{% block body %}
<div class="profil">
        <div class="imgprofil">
            <img class="profil-cov" src="{{ asset('img/' ~ utilisateur.ProfilePicture) }}" alt="Photo de profile">
            <img class="cover" src="{{ asset('img/' ~ utilisateur.ProfileCover) }}" alt="Photo de cover">
        </div>
        <a href="{{ path('app_modify_profile') }}">Modifier le profil</a>
        <h2>Profil de l’utilisateur</h2>
        <p>Nom d'utilisateur: {{ utilisateur.username }}</p>
        <p>Bio: {{ utilisateur.Bio }}</p>
        <p>Email: {{ utilisateur.email }}</p>
    </div><h2>Publications</h2>
<div>
    {% for publication in publications %}
        <div>
            <p>{{ publication.DateTime|date('Y-m-d H:i') }}</p>
            <p>{{ publication.postType }}</p>

            {% if publication.fileType == 'image' %}

                <img src="{{ asset('/uploads/' ~ publication.postContent) }}" alt="Image de publication">

            {% elseif publication.fileType == 'video' %}
                <video controls src="{{ asset('/uploads/' ~ publication.postContent) }}"></video>
            {% endif %}
             <a href="{{ path('publication_edit', {'id': publication.id}) }}" class="btn btn-primary">Modifier</a>
             <a href="{{ path('publication_delete', {'id': publication.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette publication ?');">Supprimer</a>
        </div>
    {% else %}
        <p>Aucune publication à afficher.</p>
    {% endfor %}
</div>

<div class="suggestions">
        <h3>Suggestions d'amis:</h3>
        {% for utilisateurs in utilisateur %}
            <div class="suggestion">
                <p>Nom d'utilisateur: {{ utilisateur.username }}</p>
                <p>Bio: {{ utilisateur.Bio }}</p>
                <p>Email: {{ utilisateur.email }}</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}

