{% extends 'base.html.twig' %}

{% block body %}
    <h1>Résultats de recherche pour "{{ query }}"</h1>

    <h2>Publications</h2>
<div class="publications">
    {% for publication in publications %}
        <div class="publication" id="publication-{{ publication.id }}">
            <div class="publication__header">
                <div class="publication__author">
                    <img src="{{ asset('uploads/' ~ publication.userID.profilePicture) }}" alt="Profil de {{ publication.userID.username |e }}">
                    <p>{{ publication.userID.username |e }}</p>
                </div>
                <p>{{ publication.dateTime|date('Y-m-d H:i') }}</p>
            </div>
            <div class="publication__content">
                {% if publication.fileType == 'image' %}
                    <img src="{{ asset('uploads/' ~ publication.postContent) }}" alt="Publication">
                {% elseif publication.fileType == 'video' %}
                    <video controls src="{{ asset('uploads/' ~ publication.postContent) }}"></video>
                {% endif %}
            </div>
            <div class="publication__likes">
                <div class='large-font text-center top-20'>
                    <i class="fas fa-heart like-icon" data-publication-id="{{ publication.id }}"></i>
                </div>
                <p>{{ publication.likesCount }} likes</p>
            </div>
            <div class="publication__comments">
                {% for commentaire in publication.commentaires %}
                    <div class="comment">
                        <img src="{{ asset('uploads/' ~ commentaire.userID.profilePicture) }}" alt="Profil de {{ commentaire.userID.username |e }}">
                        <p><strong>{{ commentaire.userID.username |e }}</strong>: {{ commentaire.content |e }}</p>
                        <p class="comment__date">{{ commentaire.dateTime|date('Y-m-d H:i') }}</p>
                    </div>
                {% endfor %}
            </div>
            <form class="comment-form" id="comment-form-{{ publication.id }}" action="" method="post">
                <input type="text" name="content" placeholder="Ajoutez un commentaire..." required>
                <input type="hidden" name="publicationId" value="{{ publication.id }}">
                <button type="submit">Commenter</button>
            </form>
        </div>
    {% endfor %}
</div>

    <h2>Profils</h2>
    {% for user in users %}
        <div>{{ user.username }}: {{ user.email }}</div>
    {% else %}
        <p>Aucun profil trouvé.</p>
    {% endfor %}
{% endblock %}
