{% extends 'base.html.twig' %}

{% block body %}
    <h1>Résultats de recherche pour "{{ query }}"</h1>

    <h2>Publications</h2>
<div>
    {% for publication in publications %}
        <div>
            <p>Posté par : {{ publication.userID.username }}</p>
            <img src="{{ asset('uploads/' ~ publication.userID.profilePicture) }}" alt="Image de profil" style="width: 40px;">

            <p>{{ publication.dateTime|date('Y-m-d H:i') }}</p>
            <p>{{ publication.postType }}</p>

            {% if publication.fileType == 'image' %}
                <img src="{{ asset('uploads/' ~ publication.postContent) }}" alt="Image de publication">
            {% elseif publication.fileType == 'video' %}
                <video controls src="{{ asset('uploads/' ~ publication.postContent) }}"></video>
            {% endif %}
            <p>{{ publication.likesCount }}:like</p>
            <button data-publication-id="{{ publication.id }}" class="like-btn">J'aime</button>

            <!-- Affichage des commentaires pour cette publication -->
            <div>
                {% for commentaire in publication.commentaires %}
                    <img src="{{ asset('uploads/' ~ commentaire.userID.profilePicture) }}" alt="Image de profil" style="width: 25px;">
                    <p>{{ commentaire.userID.username }}
                    : {{ commentaire.content }}</p><p style="font-size: 10px;">{{ commentaire.dateTime|date('Y-m-d H:i') }}</p>
                {% endfor %}
            </div>

            <!-- Formulaire d'ajout de commentaire -->
            <form class="comment-form" data-publication-id="{{ publication.id }}" action="" method="post">
                <input type="text" name="content" placeholder="Ajoutez un commentaire...">
                <input type="hidden" name="publicationId" value="{{ publication.id }}">
                <button type="submit">Commenter</button>
            </form>
        </div>
    {% endfor %}
</div>

    <h2>Profils</h2>
    {% for user in users %}
        <div>{{ user.username }}: {{ user.email }}</div>
    {% else %}
        <p>Aucun profil trouvé.</p>
    {% endfor %}
{% endblock %}
